@*<div id="headerContainer">
	<div class="topBorder">
		<div class="topLeftC">
		</div>
		<div class="topB">
		</div>
		<div class="topRightC">
		</div>
	</div>
	<div class="middleContent">
		<div>
			<ul class="fl">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
				<li>@Html.ActionLink("jQuery Plugins", "Index", "Plugins")</li>
				<li>@Html.ActionLink("Resume", "Index", "Resume")</li>
				<li><a href="/techblog" title="WorthyD's Tech Blog">Tech Blog</a></li>
				<li><a href="/geekblog" title="The Life of a Geek">Geek Blog</a></li>
				<li>@Html.ActionLink("About Me", "AboutMe", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			</ul>
			<ul class="fr">
				<li>@Html.ActionLink("Mobile WorthyD.com", "Index", "Mobile")</li>
			</ul>
		</div>
	</div>
</div>*@ @*<div id="headerContainer">
	<div class="leftBorder">
		<div class="leftTC">
		</div>
		<div class="leftB">
		</div>
		<div class="leftBC">
		</div>
	</div>
	<div class="middleContent">
		<div class="mcTB">
		</div>
		<div class="mc">
			<ul class="fl">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
				<li>@Html.ActionLink("jQuery Plugins", "Index", "Plugins")</li>
				<li>@Html.ActionLink("Resume", "Index", "Resume")</li>
				<li><a href="/techblog" title="WorthyD's Tech Blog">Tech Blog</a></li>
				<li><a href="/geekblog" title="The Life of a Geek">Geek Blog</a></li>
				<li>@Html.ActionLink("About Me", "AboutMe", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			</ul>
			<ul class="fr">
				<li>@Html.ActionLink("Mobile WorthyD.com", "Index", "Mobile")</li>
			</ul>
			<div class="clear">
			</div>
		</div>

		<div class="mcBB">
		</div>
	</div>
	<div class="rightBorder">
		<div class="rightTC">
		</div>
		<div class="rightB">
		</div>
		<div class="rightBC">
		</div>
	</div>
</div>*@
<div id="headerContainer">
	<div class="headerBody">
		<ul class="fl">
			<li>@Html.ActionLink("Home", "Index", "Home")</li>
			@*<li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>*@
			@*<li>@Html.ActionLink("jQuery Plugins", "Index", "Plugins")</li>*@
			<li>@Html.ActionLink("Web Dev Tools", "Index", "Tools")</li>
			<li>@Html.ActionLink("Gaming", "Gaming", "Home")</li>
			<li>@Html.ActionLink("Experience", "Index", "Experience")</li>
			<li><a href="/techblog" title="WorthyD's Tech Blog">Tech Blog</a></li>
			<li><a href="/geekblog" title="The Life of a Geek">Geek Blog</a></li>
            <li><a href="http://thegeekcarpenter.blogspot.com/">Carpentry</a></li>
			<li>@Html.ActionLink("About Me", "AboutMe", "Home")</li>
			<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
		</ul>
		<ul class="fr">
			<li>@Html.ActionLink("Mobile WorthyD.com", "Index", "Mobile")</li>
		</ul>
		<div class="clear">
		</div>
	</div>
</div>
