@{
	string CookieName = "themer";
	string themePath = "~/content/default.css";
    if (Request.Cookies[CookieName] != null && !string.IsNullOrEmpty(Request.Cookies[CookieName].Value)) {
        themePath = Request.Cookies[CookieName].Value;
    }
}
    
<div class="ThemerWrapper">
	<ul>
		<li data-link="@Url.Content("~/content/default.css")" data-key="default">Default</li>
		<li data-link="@Url.Content("~/content/themes/zeldalttp/default.css")" data-key="zelda">Zelda</li>
		<li data-link="@Url.Content("~/content/themes/mm2/default.css")" data-key="mm2">Mega Man 2</li>
		<li data-link="@Url.Content("~/content/themes/metroid/default.css")" data-key="metroid">Metroid</li>
	</ul>
	<a href="#" class="themeArrow">Theme</a>
</div>
<link href="@Url.Content(themePath)" id="custom" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	window.onload = function () {
		Themer.init('@CookieName');
	};
</script>
