@*<br />
<h2>
    <a href="http://www.rockfishinteractive.com">Rockfish Interactive</a>
    Projects </h2>
<p>Here are a couple of the projects I've gotten to work on while at
    <a href="http://www.rockfishinteractive.com/">Rockfish.</a>
</p>*@
@*<div class="portItem">
    <a href="#" id="chooseAnyTwo" class="siteLogo chooseAnyTwo">
        <img src="@Url.Content("~/content/images/portfolio/chooseanytwo_thumb.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="" class="chooseAnyTwo">Sam's Club Choose Any Two</a></h3>
        <p>This was my first mobile site from beginning to end. Site also featured videos optimized for mobile device viewing. </p>
        <span>.Net MVC 3, jQuery</span>
    </div>
</div>

<div class="portItem">
    <a href="#" id="gameDay" class="siteLogo gameDay">
        <img src="@Url.Content("~/content/images/portfolio/gameday_thumb.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="#" class="gameDay">Sam's Club Game Day 2011</a></h3>
        <p>Sam's seasonal site that featured a contest that featured over twenty thousand user signups. The site also recipes and articles
            to help plan for Game Day. </p>
        <span>.Net MVC, SQL, jQuery</span>
    </div>
</div>
<div class="portItem">
    <a href="#" id="holiday" class="siteLogo holiday">
        <img src="@Url.Content("~/content/images/portfolio/holiday_thumb.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="#" class="holiday">Sam's Club Holiday 2010</a></h3>
        <p>Sam's seasonal Holiday marketing site. I got to work with a team of 4 other devs I hadn't gotten to work with before and
            learned a lot from them. The site was built using MVC2 and featured YouTube and Vimeo integration. The site was load tested
            and successfully handled one hundred thousand hits in one hour. This site was heavy with Sam's Club products that required
            product details that were pulled in from Samsclub.com. </p>
        <span>.Net MVC, SQL, jQuery</span>
    </div>
</div>
<div class="portItem">
    <a href="http://www.playnextlevel.com" id="pnlLogo" class="siteLogo">
        <img src="@Url.Content("~/content/images/logos/pnlLogo.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="http://www.playnextlevel.com">Play Next Level</a></h3>
        <p>This is a really great site that helps highschool football students get recruited to the next level. I was brought onto the
            project shortly before it was taken out of beta in May 2010. I assisted in video player upgrades, shopping cart feature
            and other various features.<br />
            <br />
            Our company's blog post on this product can be found
            <a href="http://www.rockfishblog.com/entries/2010/3/29/are_you_ready_for_t.aspx">here</a>. </p>
        <span>.Net MVC, SQL, jQuery</span>
    </div>
</div>
<div class="portItem">
    <a href="http://rockfishinteractive.com/casestudy/mywalmart.aspx" id="myWM" class="siteLogo">
        <img src="@Url.Content("~/content/images/logos/mywalmart1.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a target="_blank" href="http://rockfishinteractive.com/casestudy/mywalmart.aspx">MyWalmart.com</a></h3>
        <p>I was involved heavily in the development of this product for about a year and a half with a development team of 4 to 5 developers.
            This project lead to my interest in front end development. This project also was the framework for me learning how to develop
            at an enterprise level.
            <br />
            <br />
            A case study on the product can be found
            <a target="_blank" href="http://rockfishinteractive.com/casestudy/mywalmart.aspx">here</a>
        </p>
        <span>Asp.Net, Linq, jQuery</span>
    </div>
</div>*@
<h2>Personal Projects</h2>
<p>These are off hand projects I've worked on outside of my work at Rockfish.</p>
<div class="portItem">
    <a href="http://unlikestuff.com" id="unlikeStuff" class="siteLogo">
        <img src="@Url.Content("~/content/images/logos/unlikestuffThumb.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="http://unlikestuff.com">UnlikeStuff.com</a></h3>
        <p>Little project I built after getting click jacked into a Facebook like. </p>
        <span>.Net MVC, Annoyance, Rage</span>
    </div>
</div>
<div class="portItem">
    <a href="http://nwatroop107.com" id="troop107" class="siteLogo">
        <img src="@Url.Content("~/content/images/logos/bsalogo.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="http://nwatroop107.com">NWA Troop 107</a></h3>
        <p>I'm currently the webmaster for my church's boyscout troop. I assist scouts in updating the website with events. We're currently
            converting content from a different content management to Wordpress. </p>
        <span>Wordpress, PHP, MySQL</span>
    </div>
</div>
<div class="portItem">
    <a href="http://479paintball.com" id="pbLogo" class="siteLogo">
        <img src="@Url.Content("~/content/images/logos/479logo.jpg")" alt="" />
    </a>
    <div class="portDesc">
        <h3>
            <a href="http://nwapaintball.proboards.com/">NWA Paintball</a>/<a href="http://479paintball.com">479Paintball</a></h3>
        <p>I was involved in creating an online community using proboards.com. The site was started in 2003 on Wild World Paintball's
            website and ported over to its own site in 2004. The community grew to a maximum of about 500 users with 100 regularly active.
            I lead a team of 3 other moderators to maintain the boards and horde away trolls. In 2007, the site security was compromised
            and all content was lost. In an attempt to respark interest we moved to 469paintball.com using phpBB.<br />
            <em>These sites have been inactive for a while.</em></p>
        <span>proboards.com, later phpBB</span>
    </div>
</div>
