@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/InteriorMaster.cshtml";
}
		<h2>Portfolio</h2>
		<div id="portfolio">
			@Html.Partial("_portfolio")
		</div>
@section ExtraScript {
	<script src="@Url.Content("~/Content/Scripts/Jquery/simplemodal.js")" type="text/javascript"></script>
	<script type="text/javascript">
		var CreatePortModal = function (imgPath) {
			var img = '<img src="' + imgPath + '" />';
			$.modal(img);
		}

		$(function () {
			$('.gameDay').click(function () {
				CreatePortModal('@Url.Content("~/content/images/portfolio/gameday_main.jpg")');
				return false;
			});
			$('.holiday').click(function () {
				CreatePortModal('@Url.Content("~/content/images/portfolio/holiday_main.jpg")');
				return false;
			});
			$('.chooseAnyTwo').click(function () {
				CreatePortModal('@Url.Content("~/content/images/portfolio/chooseanytwo_main.jpg")');
				return false;
			});
		});
	</script>
}
